*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

header {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 20vh;
    background:  rgb(23, 24, 12)
  }
 #container-menu{
    height: 5vh;
    display: flex;
    justify-content: space-between;
    background: white;
 } 
 .menu-izquierdo{
    margin: 5px 20px;
 }

 .menu-derecho{
    display: flex;
    text-align: center;
 }
.menu-central{
    display: flex;
    align-items: center;
}
.carrito{
    margin-right: 5px;
} 
.carrito, .usuario{
    padding: 2px 35px;
}

h1{
    height: 60px;
    color: rgb(70, 70, 70);
    font-family: cursive;
    padding: 10px 10px;
}
.logo{
    padding: 0px 10px;
}
.ajuste-imagen {
    width: 250px;
    height: 250px;
    object-fit: contain;
    transition: transform 0.5s ease
}
.ajuste-imagen:hover {
    object-fit: contain;
    transform: scale(1.2);
}

.listaProductos {
    background: yellow;
    color:rgb(35, 11, 172);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 8px;
}



li{
    margin: 20px 5px;
    border: 0.5px groove  rgba(39, 33, 112, 0.1);
    text-align: center;
    
}
li > h2 {
    margin: 10px 50px;
}

li > h3 {
    margin: 5px 0px;
}

button{
    cursor: pointer;
}
footer{
    text-align: center;
    display: grid;
    background:  rgb(23, 24, 12);
    color: white;
    padding-bottom: 30px;
}
.contacto{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.contacto > div{
    margin: 10px;
}